/* CSS Variables para cores*/
:root {
    --text-color: #2c3e50;
    --background-color: #ffffffd5;
    --item-color: #27b4b4c9;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #1a1a1a;
        --background-color: #ffffffd5;
        --item-color: #23cfcfc9;
    }
}

/* Reset e configurações básicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens filhos */
  min-height: 100vh;
  max-width: 100vw;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  background-image: url("stitch.png");
  background-size: cover;
}

main {
  width: 90%; /* Ou um valor fixo como 800px */
  max-width: 800px; /* main agora conterá os articles */
}
.cartao {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(50, 38, 223, 0.658);
  margin-bottom: 2rem;
}
h1{
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: inset;
  font-weight: bolder;
  font-style: italic;
  font-size: larger;
  margin: 0.8rem;
}
h2{
  text-align: left;
  font-weight: bolder;
  font-style: italic;
  font-size: large;
}
p time{
  text-align: justify;
  font-size: small;
}
p{
  font-size: medium;
}
.button-conteiner{
  display: flex;
  justify-content: flex-end;
}
.button{
  background-color: rgba(0, 174, 255, 0.137);
  border-radius: 6px;
  padding: 0.5rem;
  font-family: cursive;
  box-shadow: 0 4px 10px rgba(50, 38, 223, 0.658);

}
.button:hover{
  background-color: rgba(0, 38, 255, 0.637);
  cursor: pointer;
}

#social-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

#social-links ion-icon {
  width: 32px;
  height: 32px;
}

#social-links a {
  color: var(--item-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.2s;
  border-radius: 50%;
}



footer{
  text-align: center;
  margin: 30px;
}